<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="myLibraryViewSection">
        
    </div>
    <script src="js/external/jquery-2.1.4.min.js"></script>
    <script src="js/external/underscore.js"></script>
    <script src="js/external/backbone.js"></script>
    <script type="text/template" id="library-template">
        <ul<% for (var i=0; i<library.length; i++) { %>
            <% var book = library[i]; %>
            <li>
                <b><%= book.name %></b>by <%= book.author %>
            </li>
        <% } %>
        </ul>
    </script>

    <script>

    Book = Backbone.Model.extend({
        urlRoot: 'http://localhost:8080/books/',
        initialize: function(){
            this.on("change", function(){
                // this.changed contains changed attributes
                console.log("Changed attrs: " + JSON.stringify(this.changed));
            });
            this.on("change:name", function(){
                console.log("The name has changed.");
            });

            if(this.hasChanged('author')){
                console.log("This book's author has changed.");
            };

            this.on("invalid", function(model, error){
                console.log("**Validation Error : " + error + "**");
            });

        },

        defaults: {
            name: 'Book title',
            author: 'No One'
        },

        validate: function(attrs){
            if(attrs.year < 2000){
                return 'Year mustbe after 2000';
            }
            if(!attrs.name){
                return 'A name must be provided';
            }
        },

        parse: function(response, xhr){
            response.bookType = 'ebook';
            return response;
        },

        printDetails: function(){
            console.log(this.get('name') + 'by ' + this.get('author'));
        },
    });

    EBook = Book.extend({
        printDetails: function(){
            console.log('Ebook info');
            Book.prototype.printDetails.call(this);
        }
    });

    var Library = Backbone.Collection.extend({
        model: Book,

        initialize: function(){
            console.log('Creating a new library collection');
            this.on("remove", function(removedModel, models, options){
                console.log('Element removed at index ' + options.index);
            });
        },

        printContents: function(){
            this.forEach(function(model){
                console.log(model.get('name'));
            });
        },

        comparator: function(a, b){
            return a.get('name') < b.get('name') ? -1 : 1;
        },
    });
// If you want to reset the state of your model object to the same as it is on the server side, you can invoke the fetch()
// function. Again, this function accepts an options hash that includes success and error callbacks.
// thisBook.fetch({
//      success: function(model, response, options){
//          console.log('Fetch success');
//      },
// 
//      error: function(model, response, options){
//          console.log('Fetch error');
//      }
// });

    var firstBook = new Book({name: 'Brave New World', author: 'Auldos Haxley'});
    var secondBook = new Book({name: 'Linux: System Programming', author: "Robert Love"});
    var thirdBook = new Book({name: 'Operational Systems', author: "Andrew Tannenbaum"});
    var fourthBook = new Book({name: 'Answers', author: "Ayne Rand"});

    var myOnlineLibrary = new Library([firstBook, secondBook]);
    myOnlineLibrary.add([thirdBook, fourthBook]);
    console.log('Lib contains ' + myOnlineLibrary.length + ' books');
    myOnlineLibrary.remove(secondBook);
    myOnlineLibrary.printContents();

    // myOnlineLibrary.fetch({
    //     success: function(e){
    //         console.log('Got data');
    //     },

    //     error: function(e){
    //         console.log('Something went terribly wrong');
    //     },
    // });

    // .reset() - clears the collection
    // .set() - smartly updates the collection
    //      If a model doesn’t yet exist in the collection, it will be added. The rule will be ignored if
    // {add: false} is provided.
    //      If a model is already in the collection, the attributes will be merged. The rule will be ignored if
    // {merge: false} is provided.
    //      If there is a model in the collection that isn’t in the array, it will be removed. The rule will be
    // ignore if {remove: false} is provided.

    // .at(<index>) returns element on the given position
    // .get(<cid> or <id>)
    // .forEach(func(mod))
    // .sortBy
    // .shuffle()
    // .pluck(<attr>) - returns all of occurances of the given attribute in collection
    // .where({'attr': 'value'}) - returns array of occurances
    // .findWhere({'attr': 'value'}) - returns the first match
    // .groupBy(<attr>) - groups elements by the value of the scpecified attribute
    // .create(model) - creates model and updates server state
    // .destroy() 


    LibraryView = Backbone.View.extend({
        initialize: function(){
            // this.render();
        },
        template: _.template( $("#library-template").html() ),

        events: {
            'click .book': 'alertBook'
        },

        render: function(){
            var self = this; // This is done to maintain a reference to the original this, even when the context changes.
            // underscore lib is referenced via _ variable
            var output = self.template({'library': self.collection.toJSON()});
            self.$el.append(output);
            return self;
        },

        alertBook: function(){
            alert('Book clicked');
        }


    });

    var newBook = new Book({name: 'Beginning Backbone', author: 'James Sugrue'});
    var myView = new LibraryView({
        model: newBook,
        // el: "#myLibraryViewSection",
        tagName: 'ul',
        className: 'libraryview',
        id: 'library',
        attributes: {'data-date': new Date()}
    });

    var myLibraryView = new LibraryView({
        collection: myOnlineLibrary,
        el: '#myLibraryViewSection',

    });

    console.log(myView.el);

    // Routers
    MyRouter = Backbone.Router.extend({
        // (:param) means optional param
        'routes': {'hello/:name/(:skill)': 'sayHello', '': 'start', '*default': 'defaultRoute'},
        sayHello: function(name, skill){
            if(skill !== null){
                console.log('Saying hello to ' + name + ' ' +skill + ' author');
            } else {
                console.log('Hello, ' + name);
            }
            
        },
        start: function(){
            console.log('Initial route invoked.');
        },

        // should always be in the end
        defaultRoute: function(){
            console.log('No route configured for this.');
        },
    });
    var router = new MyRouter();
    // We may store our 'history' without using hash fragments with html5
    // Backbone.history.start({pushState:true});
    Backbone.history.start();

    </script>
</body>
</html>